
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add your desired shadow styles */
}
.login-form {
  max-width: 300px;
  padding: 20px;
  background-color: #fff; /* Optional: Set a background color for the form */
}
